@using Microsoft.AspNetCore.Mvc.Localization
@model EvenementsIndexViewModel;
@inject IViewLocalizer ViewLocalizer

@{
    ViewBag.Title = ViewLocalizer["Titre"];
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-lg-3 mb-4">
        <partial name="_Filtres" model="Model.FiltresEvenements" />
    </div>
    <div class="col-lg-9">
        <div class="row">
            @foreach (Evenement evenement in Model.Evenements)
            {
                <partial name="_Evenement" model="evenement"/>
            }
        </div>
    </div>
</div>
