@{
    var action = ViewContext.RouteData.Values["Action"]?.ToString();
    var controller = ViewContext.RouteData.Values["Controller"]?.ToString();
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Snowfall</title>
    <environment names="Development">
        <!-- Vite dev server -->
        <script type="module" src="http://localhost:5173/assets/js/app.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="module" crossorigin asp-src-include="~/dist/assets/app-*.js"></script>
        <link rel="stylesheet" asp-href-include="~/dist/assets/app-*.css" />
    </environment>
    <link rel="stylesheet" href="~/Snowfall.Web.Mvc.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="" asp-action="">Snowfall</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link @(controller == "Evenements" && action == "Index" ? "active" : "")" asp-area="" asp-controller="" asp-action="">Accueil</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if (Context.Session.GetString("panier") != null)
                    {
                        <li class="nav-item">
                            <a asp-controller="Panier" asp-action="Index" class="btn btn-outline-secondary">
                                Panier
                            </a>
                        </li>
                    }
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <form asp-controller="Auth" asp-action="Deconnexion">
                                <button class="btn btn-link nav-link">Déconnexion</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a
                                class="nav-link @(controller == "Auth" ? "active" : String.Empty)"
                                asp-controller="Auth"
                                asp-action="Connexion">
                                Connexion
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2026 - Snowfall
    </div>
</footer>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>